* {
    box-sizing: border-box;
}
html {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    color:black;
}
body {
    margin: 0;
}
.header {
   
}
.container {
   margin: 0 auto;
   max-width: 941px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    min-height: 100vh;
}
.logo {
    max-width: 101px;
}
.header__inner_center{
    text-align: center;
    
}
.header__h1 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 5px;
    color: #FFFFFF;
    padding: 5px 0;
    margin: 0;
}
.header__p1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 5px 0;
    margin: 0;
}
.header__inner__footer {
    justify-content: end;
    margin: 30px auto;
}
.header__p2 {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.7px;
    color: #FFFFFF;
    margin: 0 auto;
}

.nav {
    padding: 30px 0;
}

.nav__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo {
    display: inline-block;
}
.nav__logo_img {
    max-width: 100%;
}
.nav__ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    }
.nav__li {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.09091px;
}
.nav__link {
    text-decoration: none;
    color: #48555B;
}    

.nav__link:hover,
.nav__link:focus {
    color: #00A4E5;
}
.story {
    margin: 60px 0;
}
.h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2.30625px;
    text-transform: uppercase;
    color: #48555B;
}
.story__title {
    text-align: center;
    margin: 80px 0;
    position: relative;
}
.story__title::after {
    content: "";
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 2px;
    background-color:#00A4E5;;
    right: 0;
    margin: 0 auto;
    display: block;
}
.story__container {
    display: flex;
    justify-content: center;
}
.story__container_p {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 70px;
}
.first_p {
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    letter-spacing: 0.1875px;
    color: #48555B;
    padding-bottom: 10px;
}
.color {
    color: #16ACE8;
}
.second_p {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}
.story__container_pic{
    flex: 0 0 50%;
    max-width: 50%;

}
.story__images {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}
.story__images_inner {
    max-width: 30%;
    flex: 0 0 30%;
    position: relative;
}
.pic__img {
    max-width: 100%;
}

.pic__text {
    position: absolute;
    width: 100px;
    top: 15px;
    left: 15px;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1875px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.middle {
    margin: 60px 0;
    max-width: 100%;
}

.middle__inner {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 80px 0;
}
.middle__title {
    padding-right: 30px;
    flex: 0 0 30%;
    max-width: 30%;
    position: relative;
}
.middle__title::after {
    content: "";
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 2px;
    background-color:#00A4E5;;
    right: 0;
    margin: 0;
    display: block;

}
.middle__p {
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #48555B;
    flex: 0 0 50%;
    max-width: 50%;
}
.middle__button {
    flex: 0 0 20%;
    max-width: 20%;
    text-align: right;
}
.middle__button_btn {

}
.btn {
    display: inline-block;
    text-decoration: none;
    background: #00A4E5;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 10px 20px;
}
.middle__block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 60px 0;
}
.block {
    border: 1px solid #E6E6E6;
    flex: 0 0 31%;
    width: 31%;
    padding: 30px 20px;
}
.block__img {

}
.block__h2 {
    font-size: 16px;

}
.block__p {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}
.offer {
    padding: 150px 0;
    background-size: cover;
    background-repeat: no-repeat;

}
.offer__inner {
    text-align: center;

}
.offer__title {
    max-width: 350px;
    font-weight: 700;
    font-size: 30px;
    text-transform: none;
    text-align: center;
    padding: 20px 0;
}
..offer__button {}
.offer__title {
    display: inline-block;
}
.offer__button_btn {}


.footer {
    background: #171819;
}
.footer__singup {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 30px 0;
 
}
.form {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
}
.form__title {
    display: inline-block;
    color: #FFFFFF;
    text-transform: none;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 50px;
    margin: 0;
}
.form__email {
    padding: 10px;
    min-width: 250px;
    border: 1px solid #FFFFFF;
}
.form__btn {
    min-width: 150px;
    border: 0;

}


  
.h3 {
    font-size: 11px;
    line-height: 15px;
    font-weight: normal;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 5px 0;
}
.footer__wrap {
    background: #141A20;
}
.footer__contacts {
    display: flex;
    justify-content: space-between;
    
}
.footer__contacts_company {
    flex: 0 0 25%;
    max-width: 25%;
    
}
.footer__contacts_company_p {
    font-size: 11px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer__contacts_title {
    flex: 0 0 30%;
    max-width: 30%;
   
}
.footer__contacts_list {
    column-count: 3;
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer__contacts_li {

   
}
.footer__contacts_link {
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}
.footer__contacts_link:hover {
    color: #00A4E5;;
}
.footer__contacts_contactus {
    flex: 0 0 10%;
    max-width: 10%;
}
.footer__contacts_contactus_p {
    font-size: 11px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 2px 0;
    text-decoration: none;
}

.footer__contacts_socials {
    display: flex;
    flex: 0 0 15%;
    max-width: 15%;
    padding: 30px 0;
}

.socials__logo {
    display: block;
    padding: 0 15px;
    
}
.socials__logo_img {
   
}

.footer__contacts_bottom {
    padding: 10px 0;
    text-align: center;
}
.footer__contacts_bottom_p {
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}
